body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

svg {
  width: 100px;
  height: auto;
  overflow: visible; /* 회전 시 잘림 방지 */
}
svg g:not([id^="Layer"]) {
  transition: transform 1s ease;
  transform-box: fill-box;
  transform-origin: center;
  cursor: pointer;
}

/* hover 효과도 마찬가지 */
svg g:not([id^="Layer"]):hover {
  transform: rotate(360deg);
}

svg g, svg path {
  cursor: pointer;
  transform-box: fill-box; /* 각 요소의 바운딩 박스 기준 */
  transform-origin: center; /* 각자의 중심을 회전축으로 */
  transition: transform 1s ease;
  pointer-events: bounding-box; /* hover 깜빡임 방지 */
}
